flask>=3.0
flask-cors>=4.0
flask-session>=0.8
spotipy>=2.24
requests>=2.32
sqlalchemy>=2.0
psycopg2-binary>=2.9
pgvector>=0.3
langchain
langchain-core
langchain-ollama
langchain-chroma
langchain-community
langchain-text-splitters
pypdf>=4.0
reportlab>=4.0
wikipedia>=1.4.0
faker
dotenv
gunicorn
flask-jwt-extended
mcp>=1.0.0